#chart-container { background-color: #eee; height: 500px; }
.orgchart { background: #fff; }
.orgchart.edit-state .edge { display: none; }
.orgchart .node { width: 150px; }
.orgchart .node .title { height: 30px; line-height: 30px; }
.orgchart .node .title .symbol { margin-top: 1px; }
#edit-panel {
  position: relative;
  left: 10px;
  border-radius: 4px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background-color: teal;
}
#edit-panel .btn-inputs { font-size: 24px; }
#edit-panel.edit-state>:not(#chart-state-panel) { display: none; }
#edit-panel label { font-weight: bold; }
#edit-panel.edit-parent-node .selected-node-group { display: none; }
#chart-state-panel, #selected-node, #btn-remove-input { margin-right: 20px; }
#edit-panel.edit-parent-node button:not(#btn-add-nodes) { display: none; }
#edit-panel button:hover,.edit-panel button:focus,.edit-panel button:active {
  border-color: #eea236;
  box-shadow:  0 0 10px #eea236;
}
#chart-state-panel, #new-nodelist, #node-type-panel {
  display: inline-block;
  list-style:none;
  margin-top: -2px;
  padding: 0;
  vertical-align: text-top;
}
#new-nodelist>* { padding-bottom: 4px; }
.btn-inputs { vertical-align: sub; }
#edit-panel.edit-parent-node .btn-inputs { display: none; }
.btn-inputs:hover { text-shadow: 0 0 4px #fff; }
.radio-panel input[type='radio'] { display: inline-block;height: 24px;width: 24px;vertical-align: top; }
#edit-panel.view-state .radio-panel input[type='radio']+label { vertical-align: -webkit-baseline-middle; }
#btn-add-nodes { margin-left: 20px; }
