.orgchart { background: #fff; }
.orgchart .node.matched { background-color: rgba(238, 217, 54, 0.5); }
#filter-panel {
  position: relative;
  left: 10px;
  border-radius: 4px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background-color: teal;
}
#key-word { width: 300px; }